<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>
  <ion-nav-title>
    <a class="button button-clear" style="float:left;" href="#/tab/activities">Back</a>
    <span class="header">Activity</span>
    <a class="button button-clear" style="float:right;" href="#/tab/acts/{{act.id}}/edit">Edit</a>
  </ion-nav-title>
  <ion-content class="has-header">
  <div class="item item-avatar">
      <img class="icon-image" ng-src="{{act.image}}">
      <div class="activity-name">{{act.name}}</div>
      <p class="start-time">Started from {{act.starts | date : format : shortDate}}</p>
  </div>

 <div class="list">
  <div class="item" href="#">
    Category
    <span class="item-note">
      {{act.category}}
    </span>
  </div>
  <div class="item" href="#">
    Goal
    <span class="item-note">
      {{act.hours}} hours
    </span>
  </div>
  <div class="item" href="#">
    Completed
    <span class="item-note">
      {{act.completed}} hours
    </span>
  </div>
  <div class="item" href="#">
    Hours Left
    <span class="item-note">
      {{act.hours - act.completed}} hours
    </span>
  </div>
  <div class="item"><h3>Choose the time your want to stay focused</h3>
  <!-- tab group -->
  <div class="select-buttons">
    <input type="radio" name="mins" id="tab-1"  ng-click="setTime(15)">
    <label for="tab-1">15mins</label>
    <input type="radio" name="mins" id="tab-2" ng-click="setTime(30)" checked>
    <label for="tab-2">30mins</label>
    <input type="radio" name="mins" id="tab-3" ng-click="setTime(45)">
    <label for="tab-3">45mins</label>
  </div>
  </div>
  <!-- start button -->
  <button ng-click="start(selected)" class="button button-block startButton">
  Start 
</button>
</div>
  </div>
  </ion-content>
</ion-view>
