<ion-view>
  <ion-nav-title>

    <div class="h1 title">Activity List</div>
    <a class="button button-icon icon ion-plus" href="#/tab/activities/add"></a>

  </ion-nav-title>
<ion-content class="has-header">

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="act in acts" type="item-text-wrap" href="#/tab/acts/{{act.id}}">
        <img ng-src="{{act.image}}">
        <h2>{{act.name}}</h2><i class="icon">{{act.hours}}</i>
        <p>Started at {{act.starts | date : format : shortDate}}</p>
        

        <ion-option-button class="button-assertive" ng-click="remove(act)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
