<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
<ion-nav-title>
  <div class="bar bar-header">
  <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/tab/dash">Back</a>
  <div class="h1 title">{{chat.name}}</div>
    <button class="button button-clear button-positive">Edit</button>
  </div>
</ion-nav-title>
  <ion-content class="padding">
    <img ng-src="{{chat.image}}" style="width: 64px; height: 64px">
    <p>
      Started at {{chat.startAt}}
    </p>
   <!--  <div class="list card">

  <div class="item item-avatar">
    <img src="avatar.jpg">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>

  <div class="item item-image">
    <img src="cover.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Start listening
  </a>

</div> -->
  </ion-content>
</ion-view>
