<ion-view view-title="Play">
  <ion-content>
<canvas id="mycanvas" width="250" height="250"></canvas>  
<button ng-click="drawCanvas()">start</button>
<!--     <div class="list card">

  <div class="item item-avatar">
    <img src="avatar.jpg">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>

  <div class="item item-image">
    <img src="cover.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Start listening
  </a>

</div> -->
  </ion-content>
</ion-view>
