\<ion-view view-title="Play" ng-init="init()">
  <ion-content>
    <label class="item item-input">
      <input type="tel" ng-model="minutes">
      <span class="input-label">minutes to stay focused</span>
      
    </label>

    <div class="container">
    <canvas id="mycanvas" width="250" height="250"></canvas>
    </div>
    <button id="start" class="button button-balanced" ng-click="button_clicked ||startTimer(minutes)" ng-disabled="button_clicked">start</button>
    <button id="stop" class="button button-positive" ng-click="stopTimer()">stop</button>

  </ion-content>
</ion-view>

