<ion-view view-title="Profile">
  <ion-content>
    <div class="list card">
            <div class="item">
                <h2>{{user.name}}</h2>
                <p>{{user.city}}</p>
            </div>
            <div class="item item-body">
                <img src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270"/>
            </div>
    </div>
    <ion-item ng-click="logout()">
        <i class="icon ion-log-out"></i>
            Logout
    </ion-item>
 <!--    <ion-item ng-click="revokePermissions()">
        <i class="icon ion-unlocked"></i>
            Revoke Permissions
    </ion-item> -->
  </ion-content>
</ion-view>
