
<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>
  <ion-nav-title>
    <a class="button button-clear" style="float: left;" href="#/tab/activities">Cancel</a>
    <span class="header">Add Activity</div>
    <a class="button button-clear" style="float: right;" ng-click="done(act)">Done</a>
  </ion-nav-title>
  <ion-content class="has-header">

<!--   <div class="list">
      <a class="item item-avatar" href="#">
      <img ng-src="{{act.image}}" style="width: 64px; height: 64px">
      <h2>{{act.name}}</h2>
      <p>Started at {{act.startAt}}</p>
    </a>
  </div> -->

<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Activity Title" ng-model="act.name">
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Category
    </div>
    <select ng-model="act.category">
      <option>Work</option>
      <option selected>Study</option>
      <option>Others</option>
    </select>
  </label>

    <label class="item item-input">
    <div class="input-label">
      Your Goal
    </div>
    <input type="number" style="text-align: right;" ng-model="act.hours">
    hours
  </label>

      <label class="item item-input">

    <div class="input-label">
      Starts
    </div>
    <input type="date" style="text-align: right;" ng-model="act.starts">
  </label>

  <label class="item item-input">
    <div class="input-label">
      Ends
    </div>
    <input type="date" style="text-align: right;" ng-model="act.ends">
  </label>

    <ion-toggle  ng-model="act.reminder">
        Reminder
    </ion-toggle>

</div>

  </ion-content>
</ion-view>
