<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Activities" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/activities">
    <ion-nav-view name="activities"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Challenge" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/tab/challenge">
    <ion-nav-view name="tab-challenge"></ion-nav-view>
  </ion-tab>

<!--   <ion-tab title="Play" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/tab/play">
    <ion-nav-view name="tab-play"></ion-nav-view>
  </ion-tab> -->

  <!-- Reflection Tab -->
  <ion-tab title="Reflection" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/tab/reflection">
    <ion-nav-view name="tab-reflection"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
