#start, #stop {
	margin-right: 30px;
	border-radius: 8px;
	top: 265px;
	left: 30%;
	transform: translate(-50%);
	width: 120px;
}

#mycanvas {
	position: relative;
	top: 120px;
	display: block;
	margin: 0 auto;
}
.myImage {
	display: none;
}

.ref-container {
	background: no-repeat center;
}

