#start, #stop {
	margin-right: 30px;
	border-radius: 8px;
	top: 265px;
	left: 30%;
	transform: translate(-50%);
	width: 120px;
}

#mycanvas {
	position: relative;
	top: 120px;
	display: block;
	margin: 0 auto;
}
.myImage {
	display: none;
}

.ref-container {
	background: no-repeat center;
}

.choose-time-tab {
 	background-color: white;
}
.startButton {
	width: 80%;
	height: 65px;
	background-color: #00bcd4;
	color: white;
	font-size: 24px;
	font-weight: bold;
	margin: auto 0;
}
paper-tabs, core-toolbar {
	background-color: white; 
	color: black;
	/*box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);*/
}
paper-tab.core-selected {
	background-color: #00bcd4;
	color: white;
}
core-toolbar paper-tabs {
	box-shadow: none;
}
paper-tabs[noink][nobar] paper-tab.core-selected {
	color: #ffff8d;
}
paper-tabs[alignBottom] {
	box-shadow: 0px -6px 6px rgba(0, 0, 0, 0.15);
}
