#start{
	margin-right: 30px;
	border-radius: 8px;
	top: 265px;
	left: 30%;
	transform: translate(-50%);
	width: 120px;
}
#stop {
	top: 150px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	font-weight: bold;
	border-radius: 8px;
	background-color: #49B8DE;
	color: white;
}
#mycanvas {
	position: relative;
	top: 70px;
	display: block;
	margin: 0 auto;
}
.myImage {
	display: none;
}

.ref-container {
	background: no-repeat center;
	background-size: 700px;
}

.reflection-textbox{
	padding: 3px;
}

.reflectButton{
	width: 50% !important;
	float: left;
}

.reflection-container{
	background-color: #404040 ;
	opacity: 0.4;
	height: 2000px;
	width: 2000px;
	position: absolute;
}

.ref-question{
	color: white !important;
	position: absolute;
	top: 100px;
	padding: 20px
}



.choose-time-tab {
 	background-color: white;
}
.startButton {
	top: -8px;
	width: 80%;
	height: 50px;
	background-color: #49B8DE;
	color: white;
	font-size: 24px;
	font-weight: normal;
}
.nar-bar {
	background-color: #49B8DE;
	color: #FFFFFF;
}

.header, .title {
	color: #FFFFFF;
	font-size: 23px !important;
}
.activity-name {
	font-size: 19px;
	font-weight: bold;
	text-align: center;
}
.start-time {
	text-align: center;
}
.icon-image {
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 5px;
}
.sign-in {
	margin-top: 30px;
	margin-left: 30px;
}
.fb {
	width: 83%;
	margin-left: 30px;
}
#skip {
	margin-top: 20px;
	margin-left: 250px;
	font-size: 15px;
}
.line {
    margin: 20px 30px;
    line-height: 1px;
    border-left: 80px solid #ddd;
    border-right: 80px solid #ddd;
    text-align: center;
}
.select-buttons {
	 margin-top: 10px;
	 width: 100%;
	 height: 50px;
     display: inline-block;
     vertical-align: baseline;
     zoom: 1;
}
.select-buttons input[type="radio"] {
  display: none; 
}

.select-buttons label {
  padding-top: 15px;
  height: 50px;
  text-align: center;
  font-size: 15px;
  float: left;
  width: 33%;
}
.select-buttons input[type="radio"]:checked + label { 
	background-color: #49B8DE;
	color: white;
}
#category {
    text-align: right;
    height: 50px;
}
input[type="number"] {
	width: 20px;
}
#photo {
	margin: 10px;
	height: 500px;
	width: 500px;
}
.failure, .success {
	background-color: #49B8DE;
	height: 100%;
}
.fail-header, .success-header {
	margin-top: 30px;
	text-align: center;
	color: white;
	font-size: 36px;
}
.sub-header {
	font-size: 15px;
	margin-top: 25px;
}
.box{
  background:white;
  width:265px;
  height: 240px;
  border-radius:6px;
  margin: 30px auto 0 auto;
  padding:0px 0px 70px 0px;
}
.box-header {
  background-color: #E5F4FE;
  height: 40px !important;
}
.box-content {
  font-size: 13px;
  text-align: left;
}
#fail-image, #enable-badge-image{
  text-align: center;
}
#disable-badge-image {
	text-align: center;
	opacity: 0.5;
}
#start-over {
	margin: 21px 30px;
	height: 40px;
	color: white;
}
#check-badges {
	margin: 21px 90px;
	height: 40px;
	color: white;
}
.act-image{
	display: table;
	margin: 0 auto;
	width: 30%;
	padding: 10px;
}
